<div class="container">
    <h2 class="t-20">View Store Record</h2>
  
    <a href="#" routerLink="/store/index" class="btn btn-primary t-20 b-20">Back</a>
   
    <div>
        <strong>ID:</strong>
        <p>{{ store.id }}</p>
    </div>
   
    <div>
        <strong>Email:</strong>
        <p>{{ store.email }}</p>
    </div>
   
    <div>
        <strong>Name:</strong>
        <p>{{ store.name }}</p>
    </div>
    <div>
        <strong>Description:</strong>
        <p>{{ store.description }}</p>
    </div>
   
    <div>
        <strong>Category:</strong>
        <p>{{ store.category }}</p>
    </div>
   
    <div>
        <strong>Address:</strong>
        <p>{{ store.address }}</p>
    </div>
    <div>
        <strong>Geo Location:</strong>
        <p>{{ store.geolocation }}</p>
    </div>
   
    <div>
        <strong>Image:</strong>
        <p>{{ store.image }}</p>
    </div>
   
</div>