/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


.t-20 {
    margin-top: 20px;
}

.b-20 {
    margin-bottom: 20px;
}

.b-40 {
    margin-bottom: 40px;
}

.r-5 {
    margin-right: 5px;
}